/* styles.css */
ul {
    list-style-type: none; /* Elimina las viñetas de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Hace que los elementos de la lista se alineen en una fila */
    justify-content: space-around; /* Distribuye los elementos uniformemente */
    background-color: #333; /* Color de fondo del menú */
}

li {
    margin: 0;
}

a {
    display: block;
    color: white; /* Color del texto */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

a:hover {
    background-color: #111; /* Color de fondo al pasar el ratón */
}
